<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas 2</title>
  <style>
    
    body {
      font-family: Verdana;
      background-color: #f0f0f0;
      color: #333333;
      margin: 0;
      padding: 0;
    }

    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    }

    .navbar-hehe a {
    color: white;
    text-decoration: none;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    }

    h1, h3, h5 {
      color: #4a4a4a;
      margin-bottom: 20px;
    }

    hr {
      border: 1px solid #d3d3d3;
      width: 80%;
      margin: 20px auto;
    }

    table {
      width: 60%;
      border-collapse: collapse;
      margin: 20px auto;
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
      padding: 10px;
      text-align: left;
      border: 1px solid #cccccc;
    }

    th {
      background-color: #f4f4f4;
      color: #555555;
    }

    td a {
      color: #3b3b3b;
      text-decoration: none;
    }

    td a:hover {
      text-decoration: underline;
    }

    
    img {
      width: 150px;
      height: auto;
      border-radius: 50%;
      border: 5px solid #e1e1e1;
    }

    center {
      display: block;
      margin: 0 auto;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    ul li {
      background-color: #e7e7e7;
      padding: 10px;
      margin-bottom: 8px;
      border-radius: 4px;
      color: #444444;
    }

    ul li:last-child {
      margin-bottom: 0;
    }

    .contact-table th {
      width: 120px;
      background-color: #f4f4f4;
    }

    .contact-table td {
      background-color: #ffffff;
    }
  </style>
</head>
